body{
    margin: 0px;
    
}
#banner{

    text-align: center;
   
    background-size: cover;
    padding: 150px;
    color: #00ADB5;
    text-shadow: 1px 1px 5px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-repeat: no-repeat;

  }
  #banner h1 {
    color: white;
    font-size: 50px;
  }
  #banner p {
    color: white;
    opacity: 0.8;
    font-size: 30px;
    font-weight: lighter;
  }
  #footer{
    padding: 40px;
    background: rgb(30, 30, 30);
    color: lightgrey;
  }
  #footer a {
      color: lightgrey;
      font-size: 15px;
    }
    #footer a:hover {
        color: white;
    }
.card{
 padding: 50px;
 font-weight: lighter;
}
.livrosback{
background-image: url("images\thumb-1920-26102.jpg");
}